body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-box {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  text-align: center;
}

.profile-box h2 {
  color: #ffe100;
  margin-bottom: 1rem;
}

.foto-perfil img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
  border: 3px solid #ffe100;
}

.foto-perfil input {
  margin-top: 10px;
  color: white;
}

.campo {
  margin: 1.2rem 0;
  text-align: left;
}

.campo label {
  display: block;
  margin-bottom: 0.4rem;
}

.campo input {
  width: 100%;
  padding: 0.6rem;
  background-color: #333;
  border: none;
  border-radius: 6px;
  color: white;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.5rem;
}

.botones button {
  padding: 10px;
  background-color: #ffe100;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

.botones button:hover {
  background-color: #e6cc00;
}
