body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

/* Logo  */
.logo {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 10;
}

.logo img {
  width: 120px;
}

/* Fondo */
.fondo {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('../img/imgbanner_netflix_estilo.png.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contenido-central h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.btn-comenzar {
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background-color: red;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-comenzar:hover {
  background-color: darkred;
}

/* acordeón */
.faq {
  background-color: #111;
  padding: 40px 20px;
}

.faq h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.pregunta {
  max-width: 800px;
  margin: 0 auto 10px;
}

.acordeon {
  background-color: #222;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  transition: 0.4s;
}

.acordeon:hover {
  background-color: #333;
}

.respuesta {
  background-color: #1a1a1a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px;
}

.respuesta p {
  margin: 15px 0;
  color: #ccc;
}

/* Pie de página */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
